/*
  Author: Angelo Turri
  Date of last modification: 10/15/2019
*/


/* This makes divs extend to the edge of their parent div, as far as I can tell.
It's a useful piece of code that makes the headers look nicer. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This centers any divs one level below the body div horizontally on the page. */
body {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: relative;
  background-color: rgb(189, 189, 189);
}

/* This div contains all the meaningful material you see on the page.
It only goes to a maximum width of 1440px to make everything look clean. */
#master {
  background-color: rgb(247, 247, 247);
  display: none;
  width: 1440px;
}

/* Makes the header items center horizontally on the page and sets the background color,
and other minor formatting. */
.header-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   background-color: rgb(180, 180, 243);
   padding-top: 20px;
}

/* Sets each item within the header as a row-aligned flex container. */
.header-item {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

/* Centers the navigation bar, contained within the nav_container, on the page. */
#nav_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 150px;
}

/* Aligns the link buttons in a row instead of a column. */
ul {
  list-style-type: none;
  overflow: hidden;
}

/* Sets the general styling of the buttons. */
.button {
  color: rgb(37, 36, 36);
  border-radius: 5px;
  text-align: center;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  margin-left: 10px;

  background-color:rgb(235, 129, 134);
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.button:hover { background-color: rgb(109, 180, 115); }
.button:active { background-color: white; }

/* Formatting for the grey block of text. */
#summary {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  padding: 30px;
  height: fit-content;
  background-color: rgb(214, 214, 214);
  border: 7px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  line-height: 2;
}

/* Arranges all items below the block of text horizontally on the page. */
.main-big-container {
  width: 70%;
  display: block;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Makes each container with an image and its description a flex container.
These flex containers wrap their items to the next row if things get crowded,
so if the browser page is narrowed, things don't get ugly. */
.main-container {
  font-family: 'Cairo', sans-serif;
  font-size: 17px;
  margin-bottom: 60px;
  padding-top: 30px;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /*That wrap feature I was telling you about.*/
  align-items: center;
  justify-content: center;
}

/* Formatted the items within the main containers. */
.main-item {
  margin-right: 20px;
  width: fit-content;
  text-align: justify;
  font-size: 150%;
  min-width: 400px;
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 5px 20px 5px;
  background-color: rgb(88, 88, 88);
  /* background-image: url("https://www.tendance-feutre.com/pub/Gamme_Bio/feutree-gris-bio.jpg"); */
  border-top: 3px solid rgb(112, 112, 112);
  height: 300px;
  margin-top: 70px;
}

.footer-item {
  font-family: 'IBM Plex', sans-serif;
  line-height: 2.5;
  color: rgb(255, 255, 255);
  flex: 1;
  height: 100%;
  padding-left: 12px;
}

.footer-left {
  border-right: 2px solid grey;
}

.button_light {
  background-color: rgb(88, 88, 88);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid rgb(124, 124, 124);
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
}

.button_light:hover { background-color: rgb(128, 128, 128); }

.button_facebook {
  background-color: rgb(88, 88, 88);
  border-radius: 2px;
  border: 1px solid rgb(95, 95, 95);
  padding: 11px 20px 11px 20px;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  background-image: url("../pictures/icons/facebook.png");
  background-size: cover;
}

.text { width: 500px; }