/*
  Author: Angelo Turri
  Date of last modification: 10/23/2019
*/


/* This makes divs extend to the edge of their parent div, as far as I can tell.
It's a useful piece of code that makes the headers look nicer. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This centers any divs one level below the body div horizontally on the page. */
body {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: relative;
  background-color: rgb(189, 189, 189);
}

/* This div contains all the meaningful material you see on the page.
It only goes to a maximum width of 1440px to make everything look clean. */
#master {
  width: 1440px;
  display: none;
  background-color: rgb(241, 247, 255);
}

/* Makes the header items center horizontally on the page and sets the background color,
and other minor formatting. */
.header-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   background-color: rgb(221, 90, 90);
   padding-top: 20px;
}

/* Sets each item within the header as a row-aligned flex container. */
.header-item {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

/* Centers the navigation bar, contained within the nav_container, on the page. */
#nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 150px;
}

/* Aligns the link buttons in a row instead of a column. */
ul {
  list-style-type: none;
  overflow: hidden;
}

/* Sets the general styling of the buttons. */
.button {
  color: rgb(37, 36, 36);
  border-radius: 5px;
  text-align: center;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  margin-left: 10px;

  background-color:rgb(235, 129, 134);
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.button:hover { background-color: rgb(109, 180, 115); }
.button:active { background-color: white; }

/* Formatting for the grey block of text. */
#summary {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  padding: 30px;
  height: fit-content;
  background-color: rgb(214, 214, 214);
  border: 7px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  line-height: 2;
}

/* Centers the picture and table horizontally on the page. */
.main-huge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

/* Aligns the picture and table in a row. Is set to wrap the table below the picture
if the browser is narrowed. */
.main-big-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Muli', sans-serif;
}

/* Formats the div that contains the picture. */
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Formats the div that contains the table. */
.right {
  display:  flex;
  flex-direction: column;
  width: 500px;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* These rules put the text dead center of each cell. The flex rules center the text
vertically, and the text-align rule centers the text horizontally. */
.cell {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Formats the "Position" cell. */
.red-master {
  background-color: rgb(252, 86, 86);
  border: 4px solid rgb(255, 183, 183);
  font-size: 1.5em;
  height: 150px;
  width: 210px;
  margin: 0px 5px 0px 0px;
}

/* Formats the "Description" cell. */
.green-master {
  background-color: rgb(62, 204, 62);
  border: 4px solid rgb(135, 252, 135);
  font-size: 1.5em;
  height: 150px;
  width: 210px;
}

/* Formats all the other red cells. */
.red-minor {
  font-size: 1.3em;
  background-color: rgb(255, 183, 183);
  border: 4px solid rgb(228, 195, 195);
  border-radius: 5px;
  height: 120px;
  width: 210px;
  margin: 5px 5px 5px 0px;
}

/* Formats all the other green cells. */
.green-minor {
  font-size: 13px;
  background-color: rgb(135, 252, 135);
  border: 4px solid rgb(197, 230, 197);
  border-radius: 5px;
  height: 120px;
  width: 210px;
  margin: 5px 0px 5px 0px;
  padding: 0px 5px 0px 5px;
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 20px 5px 20px 5px;
  background-color: rgb(88, 88, 88);
  /* background-image: url("https://www.tendance-feutre.com/pub/Gamme_Bio/feutree-gris-bio.jpg"); */
  border-top: 3px solid rgb(112, 112, 112);
  height: 300px;
  margin-top: 70px;
}

.footer-item {
  font-family: 'IBM Plex', sans-serif;
  line-height: 2.5;
  color: rgb(255, 255, 255);
  flex: 1;
  height: 100%;
  padding-left: 12px;
}

.footer-left {
  border-right: 2px solid grey;
}

.button-light {
  background-color: rgb(88, 88, 88);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid rgb(124, 124, 124);
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
}

.button-light:hover { background-color: rgb(128, 128, 128); }

.button-facebook {
  background-color: rgb(88, 88, 88);
  border-radius: 2px;
  border: 1px solid rgb(95, 95, 95);
  padding: 11px 20px 11px 20px;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  background-image: url("../pictures/icons/facebook.png");
  background-size: cover;
}